.welcome-page{
    background-image: url(https://www.bwin.it/it/news/wp-content/uploads/2020/06/GettyImages-624621290-scaled_0x0_acf_cropped-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.85),rgba(0,0,0,0.25)),url(https://www.bwin.it/it/news/wp-content/uploads/2020/06/GettyImages-624621290-scaled_0x0_acf_cropped-1.jpg);
  
}
h1 {
  color: aliceblue;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: 0 6px 30px rgba(0,0,0,0.9);
  
}

h2 {
  color: antiquewhite;  
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 1rem;
  text-shadow: 0 6px 30px rgba(0,0,0,0.9);
  
}
.aboutus-page{
    background-image: url(https://thumbs.dreamstime.com/b/priorit%C3%A0-bassa-di-calcio-15449694.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.85),rgba(0,0,0,0.25)),url(https://thumbs.dreamstime.com/b/priorit%C3%A0-bassa-di-calcio-15449694.jpg);
  
}
.services-page{
    background-image: url(https://img.freepik.com/foto-gratuito/partita-di-calcio-notturna_23-2151952487.jpg?semt=ais_hybrid&w=740&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.85),rgba(0,0,0,0.25)),url(https://img.freepik.com/foto-gratuito/partita-di-calcio-notturna_23-2151952487.jpg?semt=ais_hybrid&w=740&q=80);
  
}
.blog-page{
    background-image: url(https://blog.sportit.com/wp-content/uploads/2025/08/blog-pallone-1024x723.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.85),rgba(0,0,0,0.25)),url(https://blog.sportit.com/wp-content/uploads/2025/08/blog-pallone-1024x723.jpg);
}
.article-page{
    background-image: url(https://c8.alamy.com/compit/2k814p6/allenamento-di-calcio-sport-e-portiere-su-un-campo-per-una-competizione-professionale-atleta-giovane-e-forte-con-energia-e-motivazione-che-cattura-a-2k814p6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.85),rgba(0,0,0,0.25)),url(https://c8.alamy.com/compit/2k814p6/allenamento-di-calcio-sport-e-portiere-su-un-campo-per-una-competizione-professionale-atleta-giovane-e-forte-con-energia-e-motivazione-che-cattura-a-2k814p6.jpg);
}
.bg-image{
    background-image: url(https://media.istockphoto.com/id/1482806802/it/foto/campionato-mondiale-di-calcio-giocatore-di-calcio-corre-a-calciare-il-pallone-palla-sul-campo.jpg?s=612x612&w=0&k=20&c=obVCINhSmnZvS_SpSQxpDkjcCmwK_S2RmyPI7rgjLlk=);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: linear-gradient(180deg,rgba(0,0,0,0.85),rgba(0,0,0,0.25)),url(https://media.istockphoto.com/id/1482806802/it/foto/campionato-mondiale-di-calcio-giocatore-di-calcio-corre-a-calciare-il-pallone-palla-sul-campo.jpg?s=612x612&w=0&k=20&c=obVCINhSmnZvS_SpSQxpDkjcCmwK_S2RmyPI7rgjLlk=);
}
